body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('image/5_background/layers/desert-5385998_1920.png');
    background-position: center;
}

.game-container {
    position: relative;
    width: 720px;
    max-width: 100%;
    margin: auto;
}

canvas {
    width: 100%;
    background-image: url("image/9_intro_outro_screens/start/startscreen_1.png");
    background-size: cover;
    background-position: center;
}


#win-screen, #gameover-screen, #start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 720px;   
    height: 480px;  
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    background-color: rgba(0,0,0,0.8); 
}


#win-screen img, #gameover-screen img, #start-screen img {
    max-width: 80%;   
    max-height: 70%; 
}


#win-screen button, #gameover-screen button, #start-screen button {
    margin-top: 15px;
}
