body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('image/5_background/layers/desert-5385998_1920.png');
    background-position: center;
}

canvas{
   background: black;
      display: block;
      margin: 0 auto;
}